NEXT_PUBLIC_SUPABASE_URL=https://<project>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<anon>
SUPABASE_SERVICE_ROLE_KEY=<service>
NEXTAUTH_URL=https://<your-app>.vercel.app
NEXTAUTH_SECRET=<random-32-char-string>
AZURE_AD_CLIENT_ID=1622bd52-d3cf-4d8a-a853-41eeab1f1d93
AZURE_AD_CLIENT_SECRET=<your-secret>
AZURE_AD_TENANT_ID=a0f1cacd-618c-4403-b945-76fb3d6874e5
